.card {
  margin-bottom: 10px;
}

.domainDashboard :global .ant-row {
  margin-bottom: 10px;
}

.copyButton:global.ant-btn {
  border: none;
  padding: 0 !important;
  background: transparent;
  height: inherit;
}
