.toolbar {
  display: flex;
  flex-direction: row;
}

.modeSelector {
  padding-right: 10px;
  border-right: 1px solid darkgray;
  margin-right: 10px;
}

.controls {
  white-space: nowrap;
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.collection {
  flex: 1;
}
