.toolbar {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  border-bottom: 1px solid lightgray;
  padding-bottom: 15px;
  align-items: center;
  white-space: nowrap;
}

.modeSelector {
  padding-right: 15px;
  border-right: 1px solid darkgray;
  margin-right: 15px;
}

.controls {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.label {
  margin-right: 10px;
}

.collection:global.ant-select-auto-complete, .query:global.ant-input, .id:global.ant-input {
  flex: 1;
  margin-right: 15px;
}

.button {
  margin-left: 15px;
}

.modelExpander {
  margin-left: 20px;
  margin-right: 20px;
}

.modelExpander tr {
  border-bottom: 1px solid lightgray;
}

.modelExpander td:first-child {
  width: 1%;
  white-space: nowrap;
  padding-right: 15px;
  font-weight: bold;
  vertical-align: top;
}

.modelExpander td:not(:first-child) {
  width: 99%;
}

.editorContainer {
  border-radius: 4px;
  margin: 10px 0;
  padding: 2px;
  border: 1px solid darkgray;
}

.editor {
  border-radius: 4px;
}

.modelExpanderToolbar {
  text-align: right;
  margin-bottom: 10px;
}

.modelExpanderToolbar :global .ant-btn {
  margin-left: 5px;
}

.dataValue {
  max-height: 4em;
  overflow: auto;
}
