.sapphire-menu {
  position: absolute;
  border: 1px solid #666;
  border-radius: 4px;
  background: #F5F5F5;
  z-index: 5;
  font-family: 'Open Sans', Verdana, sans-serif;
  box-shadow: 1px 1px 5px #bbb;

  .sapphire-menu-item {
    font-size: 12px;
    padding: 2px 10px 2px 10px;
    cursor: pointer;

    &:hover {
      background: lightskyblue;
    }
  }
}
