.domainCard {
  padding: 10px;
}

.domainCard:global(.ant-card) {
  margin-top: 10px;
  margin-bottom: 10px;
}

.domainCard:hover {
  cursor: default;
}

.domainCardDisabled {
  opacity: 0.6;
  cursor: progress;
}

.domainCard.domainCardDisabled:hover {
  cursor: not-allowed !important;
}

.title {
  font-size: 24px;
}

.nsid {
  font-size: 12px;
  color: darkgray;
}

.status {
  float: right;
  color: green;
}

.url {
  margin-top: 10px;
  width: 100%;
}

.url:active, .url:focus {
  outline: none;
}

.url :global .ant-btn {
  border: none;
  padding: 0 !important;
  background: transparent;
  height: inherit;
}

.buttons {
  margin-top: 20px;
  text-align: right;
}

.buttons :global .ant-btn {
  margin-left: 5px;
}
