.error {
  color: red;
}

.online {
  color: green;
}

.initializing {
  color: darkgrey;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(200, 200, 200, 0.4);
  animation: initializing 2s infinite;
}

@-webkit-keyframes initializing {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(200, 200, 200, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(200, 200, 200, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(200, 200, 200, 0);
  }
}

@keyframes initializing {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(200, 200, 200, 0.4);
    box-shadow: 0 0 0 0 rgba(200, 200, 200, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(200, 200, 200, 0);
    box-shadow: 0 0 0 10px rgba(200, 200, 200, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(200, 200, 200, 0);
    box-shadow: 0 0 0 0 rgba(200, 200, 200, 0);
  }
}

.offline {
  color: darkgrey;
}

.maintenance {
  color: darkgrey;
}

.deleting {
  color: orange;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(204, 169, 44, 0.4);
  animation: deleting 2s infinite;
}

@-webkit-keyframes deleting {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

@keyframes deleting {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}