.codeSnippet {

}

.codeSnippet .description {
  border: 1px solid #e8e8e8;
  background: #fafafa;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.codeSnippet pre {
  border-radius: 4px;
}