.page {
  margin: 10px;
}

.pageFull {
  margin: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.pageContent {

}

.header {
  margin-bottom: 10px;
  border-bottom: 1px solid darkgray;
}

.icon {
  margin-right: 10px;
  font-size: 18px;
}

.title {
  font-size: 18px;
}
